$primary-color: #4bbb46;
$primary-light-color: #9a67ea;
$primary-dark-color: #320b86;
$primary-text-color: #ffffff;
$background-color: #fafafa;
$cards-dialogs-color: #ffffff;
$error-color: #ff5440;
$warning-color: #ffbe46;

$dark-grey: #40404d;
$green: #8acb87;
$light-grey: #575761;
$bg-grey: #f7f7f9;
$light-blue: #5a8dff;
$bright-blue: #3a7aff;
$aqua: #00c3b3;
$orange: #f4a21f;
$pink: #ff7666;

$body-bg: #fff;
